<h2>Expositor</h2>
<p>El modo elegido es: {{ modoElegido }}</p>

<div *ngIf="modoElegido === 'Compra'">
  <p>Carrito de la compra: {{ librosComprado.length }} unidades</p>
</div>

<button mat-raised-button color="primary" (click)="modoElegido = 'Compra'">
  Modo compra
</button>
<button mat-raised-button color="primary" (click)="cambiaModo('Visita')">
  Modo visita
</button>

<hr />

<!--<ul>
    <li *ngFor="let libro of misLibros">{{ libro.titulo }}</li>
  </ul>-->

<!--<div *ngFor="let libro of misLibros">
  <p>Titulo: {{ libro.titulo }}</p>
  <p *ngIf="libro.autor">Autor: {{ libro.autor }}</p>
  <p>Precio: {{ libro.precio }}</p>
  <p>Stock: {{ libro.stock }}</p>
  <br />
</div>-->

<h2 *ngIf="!misLibros">Cargando libros desde API</h2>
<div class="contenedor-libros">
  <!--<div *ngFor="let libro of misLibros"></div>-->
  <app-libro
    *ngFor="let libroIterado of misLibros"
    [libro]="libroIterado"
    (notificacionCompra)="lanzaNotificacion($event)"
  ></app-libro>
</div>
<!--<pre>
  {{ misLibros | json }}
</pre>-->
