<h2 mat-dialog-title>Edición</h2>
<mat-dialog-content>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Update</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="libroForm">
        <!-- Título -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Título</mat-label>
          <input
            matInput
            formControlName="titulo"
            placeholder="Título del libro"
          />
          <mat-error *ngIf="libroForm.get('titulo')?.hasError('required')">
            El título es obligatorio.
          </mat-error>
        </mat-form-field>

        <!-- Autor -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Autor</mat-label>
          <input
            matInput
            formControlName="autor"
            placeholder="Autor del libro"
          />
        </mat-form-field>

        <!-- Precio -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Precio</mat-label>
          <input matInput type="number" formControlName="precio" />
          <mat-error *ngIf="libroForm.get('precio')?.hasError('required')">
            El precio es obligatorio.
          </mat-error>
          <mat-error *ngIf="libroForm.get('precio')?.hasError('min')">
            El precio debe ser mayor a 0.
          </mat-error>
        </mat-form-field>

        <!-- Stock -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Stock</mat-label>
          <input matInput type="number" formControlName="stock" />
          <mat-error *ngIf="libroForm.get('stock')?.hasError('required')">
            El stock es obligatorio.
          </mat-error>
          <mat-error *ngIf="libroForm.get('stock')?.hasError('min')">
            El stock debe ser mayor a 0.
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-button (click)="guardar()">Guardar</button>
</mat-dialog-actions>
