mat-card-header {
  margin-bottom: 2vh;
}

mat-form-field {
  display: block;
  margin-bottom: 3vh;
}
form {
  width: 25vw;
  margin-bottom: 3vh;
}

mat-dialog-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 2vh;
}
