.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar {
  height: 8vh;
}
.example-container {
  height: 92vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  height: 100%;
  padding-left: 1vw;
}

.example-sidenav {
  padding: 20px;
}

.elementoBarra {
  border-bottom: 2px solid black;
  padding: 12px 24px;
  margin-bottom: 2vh;
  cursor: pointer;
}
